* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* align-items: flex-start; */
}

.logo {
  margin: 0;
  padding: 10px 15px;
}

.mainNav {
  display: flex;
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
}

.mainNav a {
  padding: 8px 12px;
  display: inline-block;
}

/* HERO */

.hero {
  min-height: 80vh;
  background-color: coral;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  /* kai norim truputi zemiau padeti viska */
  padding-top: 100px;
}

.flex-container {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.flex-item {
  border: 1px solid #000;
  position: relative;
  flex-basis: 49%;
  /* flex-basis: 32%;
  flex-basis: 100%; */
  flex-grow: 1;
}
.cat-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  background-color: #333;
  color: #fff;
  display: inline-block;
  opacity: 0;
  transition: all 0.3s;
}

.overlay {
  background-color: rgba(100, 148, 237, 0);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.3s;
}

.flex-item:hover .overlay {
  background-color: rgba(100, 148, 237, 0.5);
}

.flex-item:hover .cat-title {
  opacity: 1;
}
