* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.mainHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* align-items: flex-start; */
}

.logo {
  margin: 0;
  padding: 10px 15px;
}

.mainNav {
  display: flex;
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
}

.mainNav a {
  padding: 8px 12px;
  display: inline-block;
}
